@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:wght@200;300&family=Mulish:wght@300&family=Quicksand:wght@300&family=Raleway:ital,wght@1,200&display=swap');

.body {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    background-color: lightcoral;

    grid-template-columns: 25% 25% 100px auto;
    grid-template-rows: 100px 300px auto;
}

.grid-container > * {
    background-color: white;
    border: solid darkcyan 5px;
    font-size: 35px;
}

.grid-container2 {
    display: grid;
    background-color: black;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;

    column-gap: 15px;
    row-gap: 15px;
    padding: 15px;
}

.grid-container2 > * {
    background-color: white;
    font-size: 35px;
}

.body {
    background-color: teal;
    display: grid;

    grid-template-columns: 25% 75%;
}

.profile-body {
    background-color: olive;
    color: white;
    margin-left: 60px;
    text-align: center;
}

.profile > p {
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
}

.profile-img {
    background-color: thistle;
    border-radius: 100%;
    margin: 65px;
}

.menu > * {
    background-color: white;
    color: olive;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    margin-bottom: 3px;
}

.icons {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 50px;
}

.icons > * {
    background-color: royalblue;
    font-size: 30px;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}

.since {
    padding: 50px;
}

.contents {
    /* background-color: white; */
    margin: 60px;
    
}

.headline {
    background-color: gray;
    color: white;
    font-size: 50px;
    font-weight: bold;
    /* margin-top: 60px; */
    padding: 10px;
    text-align: center;
}

.headline > p {
    font-size: 17px;
    font-weight: normal;
}

.main {
    display: grid;
    /* background-color: white; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 70px;
    column-gap: 40px;
    row-gap: 100px;
}

.main > div {
    /* background-color: tomato; */
    color: white;
    padding: 10px;
    height: 500px;
    text-align: justify;
}

.btn {
    background-color: white;
    color: darkblue;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    padding: 15px;
    width: 150px;
}

.img1 {
    background-image: url(https://images.unsplash.com/photo-1600211906168-fbc6df476b1c?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDQ4fGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: contain;
    border-radius: 10px;
}

.img2 {
    background-image: url(https://images.unsplash.com/photo-1616353654870-6d2ec7e3d134?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDM1fGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: contain;
    border-radius: 10px;
}