@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@300&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

/* 홈페이지 안에 div요소 꽉차게 하기 위함 */
html, body {
    margin: 0;
    padding: 0;
    display: grid;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 15px;
    margin-top: 2%;
    align-items: center;
    user-select: none;
    transition: all .5s;
}

#header-name {
    font-size: 35px;
    font-weight: 800;
    margin-left: 2%;
    color: darkseagreen;
}

.nav-bar {
    display: flex;
}

.nav-bar > div {
    display: flex;
    margin-left: 30px;
    padding: 5px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}

.hidden-nav-bar-body {
    background-color: rgba(0, 0, 0, .3);
    /* 화면에 꽉차게 설정 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.hidden-menu-body {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding-top: 35%;
    padding-left: 10%;
}

.hidden-nav-bar {
    display: grid;
    grid-template-rows: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    /* left: 100%를 이용해서 화면에서 안보이게 설정 */
    left: 100%;
    background-color: white;
    transition: all 1s;
}

.hidden-nav-bar > div {
    color: black;
}

/*--- 크기 줄였을 때 메뉴버튼[=] 만들기 ---*/
input[id="hidden-btn"] {
    display: none;
}

input[id="hidden-btn"] + label {
    display: block;
    width: 40px;
    height: 25px;
    position: relative;
    cursor: pointer; /* 마우스 커서를 포인터로 바꾸는 속성값 */
}

input[id="hidden-btn"] + label span {
    display: block;
    position: absolute;
    width: 32px;
    height: 4px;
    border-radius: 50px;
    background: black;
}

input[id="hidden-btn"] + label span:nth-child(1) {
    top: 0;
}

input[id="hidden-btn"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%); /* 메뉴버튼의 가운데 줄을 가운데 정확하게 맞추기위해 설정한 값 */
}

input[id="hidden-btn"] + label span:nth-child(3) {
    bottom: 0;
}
/*---*/

input[id="hidden-btn"]:checked + label + div + div {
    /* input이 checked가 됬을 때 left: 20%로 설정 */
    left: 20%;
    transition: all 1s;
}

/*--- 숨은 메뉴의 닫는 버튼[X] 만들기 ---*/
input[id="close-btn"] {
    display: none;
}

input[id="close-btn"] + label {
    display: block;
    width: 40px;
    height: 25px;
    position: relative;
    cursor: pointer; /* 마우스 커서를 포인터로 바꾸는 속성값 */
}

input[id="close-btn"] + label span {
    display: block;
    position: absolute;
    width: 32px;
    height: 4px;
    border-radius: 50px;
    background: black;
}

input[id="close-btn"] + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="close-btn"] + label span:nth-child(2) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}
/*---*/

.close-btn-body {
    position: fixed;
    width: 100%;
    height: 200px;
    /* background-color: yellowgreen; */
}

.close-btn-body > * {
    left: 70%;
    right: auto;
    top: 30%;
}

.menus {
    padding-top: 10%;
    font-size: 50px;
    font-weight: bold;
}

.menus > * {
    cursor: pointer;
}

.my-info {
    padding-top: 10%;
}

#name {
    font-size: 25px;
    font-weight: bold;
}

#job {
    padding-top: 1%;
    font-size: 15px;
}
/* -----------------------------------------------header & menu style */

.contents-body > * {
    border: solid 1px black;
    width: 100%;
    height: 900px;
}

.header.on {
    margin-top: 0;
    top: 0;
    height: 50px;
    background-color: rgb(255, 255, 255, .9);
    box-shadow: 0px 3px 5px rgb(235, 235, 235);
    transition: all .5s;
}

.about-body, .skills-body {
    text-align: center;
    display: grid;
    grid-template-rows: 10% 90%;
}

.about-title, .skills-title {
    font-size: 55px;
    font-weight: bold;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    padding: 10px;
}

.about-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
}

.photo-body {
    margin: auto;
}

#photo {
    background-image: url("./profile.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 500px;
}

.info-body > * {
    /* margin-bottom: 10%; */
    margin: 7%;
}

#profile-title, #education-title, #advantages-title {
    text-align: left;
    font-size: 30px;
    font-weight: 800;
    padding: 10px;
}

#profile-contents, #education-contents {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    text-align: justify;
    line-height: 170%;
    padding: 10px;
    padding-top: 20px;
}

#profile-contents > * {
    margin-bottom: 7px;
}

#profile-contents > div:nth-of-type(2n) {
    padding-left: 20px;
}

#education-contents > * {
    margin-bottom: 7px;
}

#advantages-contents > * {
    line-height: 170%;
    text-align: left;
    padding: 10px;
    padding-top: 20px;
    font-size: 16px;
}

#advantages-contents > div:last-of-type {
    padding-top: 10px;
}

#title {
    font-size: 18px;
    font-weight: 600;
}

#contents {
    font-size: 16px;
}
/* ----------------------------------------------- about me style*/


.copy-right-body {
    display: grid;
    background-color: rgb(95, 94, 94);
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 13px;
    user-select: none;
}

.copy-right {
    padding-top: 10px;
}

.link-icons {
    display: flex;
    align-items: center;
    margin: auto;
    height: 80px;
}

.link-icons > div {
    padding: 10px;
    font-size: 60px;
    cursor: pointer;
}



