/* 0 ~ 700px 까지. 화면이 작아졌을 경우 축소 메뉴버튼 생성 */
@media screen and (max-width: 950px) {
    /* 메뉴 보이지 않게 하기
     * display: none 공간이 사라짐 
     * visibility: hidden 공간이 그대로임
     * */
    .nav-bar {
        display: none !important;
    }
}

@media screen and (min-width: 600px) {
    .menus {
        padding-top: 2%;
        font-size: 70px;
    }

    #name {
        font-size: 30px;
    }

    #job {
        font-size: 18px;
    }
}

/* 701px ~ 화면이 커졌을 경우 축소 메뉴버튼 사라지게 함 */
@media screen and (min-width: 951px) {
    .hidden-btn + label {
        display: none !important;
    }

    input[id="hidden-btn"]:checked + label + div + div {
        /* input이 checked가 된 경우, 크기를 늘렸을 때 메뉴가 들어갈 수 있게 설정 */
        right: 0;
        left: 100%;
    }    
}

/* 제일 화면 커지는 경우 */
@media screen and (min-width: 1500px) {
    .about-body, .contact-body {
        height: 90vh;
    }

    .about-title {
        font-size: 65px;
    }

    .info-body {
        margin: auto;
    }

    .photo-body {
        width: 600px;
        height: 600px;
    }

    .display-body {
        display: flex;
    }

    #title {
        font-size: 19px;
    }

    #contents {
        font-size: 17px;
    }

    #advantages-contents > * {
        font-size: 17px;
    }

    #profile-title, #education-title, #advantages-title {
        font-size: 38px;
    }
    /*--------------------------*/
    h1 span {
        font-size: 80px;
    }

    .contact-contents {
        font-size: 30px;
    }
}

/* 중간 크기 화면 */
@media screen and (max-width: 960px) {
    .photo-body {
        width: 100%;
    }
    
    .about-contents {
        display: flex;
        flex-direction: column;
    }

    .display-body {
        display: flex;
    }

    #profile-title, #education-title, #advantages-title {
        font-size: 30px;
    }
}

/* 화면 제일 작아지는 경우 */
@media screen and (max-width: 650px) {
    .display-body {
        display: grid;
    }

    .contact-body {
        height: 500px;
    }

    .projects-body {
        display: none;
    } /*구현중*/

    #title {
        font-size: 15px;
    }

    #contents {
        font-size: 14px;
    }

    .about-title {
        font-size: 45px;
        padding: 18px;
    }

    #profile-title, #education-title, #advantages-title {
        font-size: 25px;
    }

    #profile-contents > * {
        margin-bottom: 3px;
    }

    #education-contents > * {
        margin-bottom: 3px;
    }

    #advantages-contents > * {
        padding-top: 5px;
        font-size: 14px;
    }

    #profile-contents, #education-contents {
        padding-top: 5px;
    }

    .link-icons > div {
        font-size: 55px;
    }

    .copy-right-body  {
        font-size: 11px;
    }

    h1 span {
        font-size: 40px;
    }

    .contact-txt {
        margin: auto;
    }

    .contact-contents {
        font-size: 14px;
        margin-top: -230px;
    }
    
    p span:nth-child(2) {
        padding-left: 15px;
    }

    h1 span {
        z-index: -1;
    }
}